@mixin allStrips ($width) {
  height: $height;
  width: $width;
  display: flex;
  text-align: $text-align;
  overflow: hidden;
}

@mixin flex{
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin animation ($duration){
  animation-duration: $duration;
  animation-timing-function: $animationFunction;
}
