@import "_variables.scss";
@import "_mixins.scss";
@import url("https://fonts.googleapis.com/css?family=Lato:300&display=swap");


/* general */
* {
  box-sizing: border-box;
}

body {
  margin: 10px 0 0 0;
}

h1 {
  font-size: 3.5vw;
  font-weight: 300;
  color: white;
  font-family: "Lato";
}



/* strips */
.strips {
  @include allStrips ($width);
  cursor: pointer;

  .strip {
    @include allStrips (19.9vw);
    @include flex;
    position: relative;
    margin: 0.1vw;
    
  
    .strip_content {
      @include allStrips (100%);
      @include flex;
      position: absolute; 

      /* before */
      &:before {
        @include allStrips ($width / 5);
        @include flex;
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        background: white;
        opacity: 0.05;
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-transform: skew(30deg) scaleY(1) translate(0, 0);
        transform: skew(30deg) scaleY(1) translate(0, 0);
        transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
      }

      &:hover:before {
          -webkit-transform: skew(0deg) scaleX(2) translate(0, 0);
          transform: skew(0deg) scaleX(2) translate(0, 0);
          opacity: 0.2;
      }
    }
  } 
}


/* strips 1-5: nth-child 1-5 */
.strip:nth-child(1) .strip_content {
  background-color: #244F75;
  animation-name: strip--u4rx9pe;
  @include animation($duration);
}

@keyframes strip--u4rx9pe {
  from {
    transform: translate3d(-100%, 0, 0);
  }
}


.strip:nth-child(2) .strip_content {
  background-color: #60BFBF;
  animation-name: strip--u4rx9pg;
  @include animation($duration + 0.3s);
}

@keyframes strip--u4rx9pg {
  from {
    transform: translate3d(0, 100%, 0);
  }
}


.strip:nth-child(3) .strip_content {
  background-color: #8C4B7E;
  animation-name: strip--u4rx9q8;
  @include animation($duration + 0.2s);
}

@keyframes strip--u4rx9q8 {
  from {
    transform: translate3d(0, -100%, 0);
  }
}


.strip:nth-child(4) .strip_content {
  background-color: #F8BB44;
  animation-name: strip--u4rx9qn;
  @include animation($duration + 0.5s);
}

@keyframes strip--u4rx9qn {
  from {
    transform: translate3d(0, 100%, 0);
  }
}


.strip:nth-child(5) .strip_content {
  background-color: #F24B4B;
  animation-name: strip--u4rx9r0;
  @include animation($duration + 0.6s);
}

@keyframes strip--u4rx9r0 {
  from {
    transform: translate3d(100%, 0, 0);
  }
}

